*{
    box-sizing: border-box;
}
.logo {
    font-weight: bold;
    background: linear-gradient(to bottom, #f9f9f9, #8c8c8c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: 
      drop-shadow(1px 1px 1px #000)  /* bóng đen sát cạnh */
      drop-shadow(1px 1px 1px #FFD700); /* bóng vàng rộng ra */;
  }
  
  