@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*{
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
  font-family: "Inter", sans-serif;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

.product-img {
  transition: 0.7s ease-in-out !important;
  cursor: pointer !important;
}

.icon-img-hover {
  flex-direction: column;
  gap: 12px;
  transition: all 0.7s ease-in-out;
  transform: translateX(38%);
}

.icon-img-hover i{
  padding: 8px;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}

.icon-img-hover i:hover{
  background-color: #AD6E23;
  color: #fff;
}
